In [142]:
import pandas as pd
from pyomo.environ import *
from pyomo.opt import SolverFactory

## Problem 1 Version 1

In [143]:
m = ConcreteModel()

m.GRADES = Set(initialize = ['1A', '1B', '2A'])
m.TIMESLOTS = Set(initialize = range(8, 16))

m.Assign = Var(m.GRADES, m.TIMESLOTS, domain = Binary)

def one_timeslot_per_grade(model, t):
    return quicksum(model.Assign[g, t] for g in model.GRADES) <= 1

m.One_Timeslot_per_grade = Constraint(m.TIMESLOTS, rule = one_timeslot_per_grade)
m.assign_sum = Objective(rule = lambda model: sum_product(model.Assign), sense = maximize)

In [144]:
opt = SolverFactory('glpk')
opt.solve(m)

{'Problem': [{'Name': 'unknown', 'Lower bound': 8.0, 'Upper bound': 8.0, 'Number of objectives': 1, 'Number of constraints': 8, 'Number of variables': 24, 'Number of nonzeros': 24, 'Sense': 'maximize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': '1', 'Number of created subproblems': '1'}}, 'Error rc': 0, 'Time': 0.008860349655151367}], 'Solution': [OrderedDict({'number of solutions': 0, 'number of solutions displayed': 0})]}

In [146]:
d = {}
for g in m.GRADES:
    for t in m.TIMESLOTS:
        if value(m.Assign[g, t]):
            d[t] = g
pd.DataFrame(d.values(), index = d.keys())

     0
8   1A
9   1A
10  1A
11  1A
12  1A
13  1A
14  1A
15  1A

### Version 2

In [147]:
m = ConcreteModel()

m.GRADES = Set(initialize = ['1A', '1B', '2A'])
m.TIMESLOTS = Set(initialize = range(8, 16))

m.Assign = Var(m.GRADES, m.TIMESLOTS, domain = Binary)

def one_timeslot_per_grade(model, t):
    return quicksum(model.Assign[g, t] for g in model.GRADES) <= 1

m.One_Timeslot_per_grade = Constraint(m.TIMESLOTS, rule = one_timeslot_per_grade)
m.assign_sum = Objective(rule = lambda model: sum_product(model.Assign), sense = maximize)

def equality(model, g, g_prime):
    if g == g_prime:
        return Constraint.Skip
    return quicksum(model.Assign[g, t] for t in model.TIMESLOTS) == quicksum(model.Assign[g_prime, t] for t in model.TIMESLOTS)

m.equality_rule = Constraint(m.GRADES, m.GRADES, rule = equality)

In [149]:
opt.solve(m)

{'Problem': [{'Name': 'unknown', 'Lower bound': 6.0, 'Upper bound': 6.0, 'Number of objectives': 1, 'Number of constraints': 14, 'Number of variables': 24, 'Number of nonzeros': 120, 'Sense': 'maximize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': '587', 'Number of created subproblems': '587'}}, 'Error rc': 0, 'Time': 0.03182363510131836}], 'Solution': [OrderedDict({'number of solutions': 0, 'number of solutions displayed': 0})]}

In [150]:
d = {}
for g in m.GRADES:
    for t in m.TIMESLOTS:
        if value(m.Assign[g, t]):
            d[t] = g
pd.DataFrame(d.values(), index = d.keys())

     0
8   1A
14  1A
9   1B
13  1B
10  2A
11  2A

#### Using the other constraint

In [151]:
m = ConcreteModel()

m.GRADES = Set(initialize = ['1A', '1B', '2A'])
m.TIMESLOTS = Set(initialize = range(8, 16))

m.Assign = Var(m.GRADES, m.TIMESLOTS, domain = Binary)

def one_timeslot_per_grade(model, t):
    return quicksum(model.Assign[g, t] for g in model.GRADES) <= 1

m.One_Timeslot_per_grade = Constraint(m.TIMESLOTS, rule = one_timeslot_per_grade)
m.assign_sum = Objective(rule = lambda model: sum_product(model.Assign), sense = maximize)

def equality(model, g, g_prime):
    if g == g_prime:
        return Constraint.Skip
    return quicksum(model.Assign[g, t] for t in model.TIMESLOTS) <= len(model.TIMESLOTS) / len(model.GRADES)

m.equality_rule = Constraint(m.GRADES, m.GRADES, rule = equality)

In [152]:
opt.solve(m)

{'Problem': [{'Name': 'unknown', 'Lower bound': 6.0, 'Upper bound': 6.0, 'Number of objectives': 1, 'Number of constraints': 14, 'Number of variables': 24, 'Number of nonzeros': 72, 'Sense': 'maximize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': '1049', 'Number of created subproblems': '1049'}}, 'Error rc': 0, 'Time': 0.0295870304107666}], 'Solution': [OrderedDict({'number of solutions': 0, 'number of solutions displayed': 0})]}

In [153]:
d = {}
for g in m.GRADES:
    for t in m.TIMESLOTS:
        if value(m.Assign[g, t]):
            d[t] = g
pd.DataFrame(d.values(), index = d.keys())

     0
8   1A
10  1A
9   1B
11  1B
13  2A
14  2A

### Version 3

In [155]:
m = ConcreteModel()

m.GRADES = Set(initialize = ['1A', '1B', '2A'])
m.TIMESLOTS = Set(initialize = range(8, 16))
m.ROOMS = Set(initialize = ['101', '102'])

m.Assign = Var(m.GRADES, m.TIMESLOTS, m.ROOMS, domain = Binary)

def one_grade_in_one_timeslot_and_one_room(model, t, r):
    return quicksum(model.Assign[g, t, r] for g in model.GRADES) <= 1

m.One_Timeslot_per_grade = Constraint(m.TIMESLOTS, m.ROOMS, rule = one_grade_in_one_timeslot_and_one_room)
m.assign_sum = Objective(rule = lambda model: sum_product(model.Assign), sense = maximize)

def equality(model, g, g_prime):
    if g == g_prime:
        return Constraint.Skip
    return quicksum(model.Assign[g, t, r] for t in model.TIMESLOTS for r in model.ROOMS) == quicksum(model.Assign[g_prime, t, r] for t in model.TIMESLOTS for r in model.ROOMS)

m.equality_rule = Constraint(m.GRADES, m.GRADES, rule = equality)

In [156]:
opt.solve(m)

{'Problem': [{'Name': 'unknown', 'Lower bound': 15.0, 'Upper bound': 15.0, 'Number of objectives': 1, 'Number of constraints': 22, 'Number of variables': 48, 'Number of nonzeros': 240, 'Sense': 'maximize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': '131461', 'Number of created subproblems': '131461'}}, 'Error rc': 0, 'Time': 14.56630825996399}], 'Solution': [OrderedDict({'number of solutions': 0, 'number of solutions displayed': 0})]}

In [157]:
from collections import defaultdict
d = defaultdict(lambda: defaultdict(str))
for g in m.GRADES:
    for t in m.TIMESLOTS:
        for r in m.ROOMS:
            if value(m.Assign[g, t, r]):
                d[r][t] = g

In [158]:
pd.DataFrame(d).fillna('N/A').sort_index()

    101 102
8    1A  1B
9    1B  1A
10   2A  2A
11   1A  1B
12   1B  1A
13   2A  1A
14   1B  2A
15  N/A  2A

#### Uing alternate math condition

In [159]:
m = ConcreteModel()

m.GRADES = Set(initialize = ['1A', '1B', '2A'])
m.TIMESLOTS = Set(initialize = range(8, 16))
m.ROOMS = Set(initialize = ['101', '102'])

m.Assign = Var(m.GRADES, m.TIMESLOTS, m.ROOMS, domain = Binary)

def one_grade_in_one_timeslot_and_one_room(model, t, r):
    return quicksum(model.Assign[g, t, r] for g in model.GRADES) <= 1

def one_room_with_one_grade(model, g, t):
    return quicksum(model.Assign[g, t, r] for r in model.ROOMS) <= 1
    

m.One_Timeslot_per_grade = Constraint(m.TIMESLOTS, m.ROOMS, rule = one_grade_in_one_timeslot_and_one_room)
m.One_Room_with_one_grade = Constraint(m.GRADES, m.TIMESLOTS, rule = one_room_with_one_grade)

m.assign_sum = Objective(rule = lambda model: sum_product(model.Assign), sense = maximize)

def equality(model, g):
    return quicksum(model.Assign[g, t, r] for t in model.TIMESLOTS for r in model.ROOMS) <= len(model.TIMESLOTS) * len(model.ROOMS) / len(model.GRADES)

m.equality_rule = Constraint(m.GRADES, rule = equality)

In [160]:
opt.solve(m)

{'Problem': [{'Name': 'unknown', 'Lower bound': 15.0, 'Upper bound': 15.0, 'Number of objectives': 1, 'Number of constraints': 43, 'Number of variables': 48, 'Number of nonzeros': 144, 'Sense': 'maximize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': '25191', 'Number of created subproblems': '25191'}}, 'Error rc': 0, 'Time': 1.7218620777130127}], 'Solution': [OrderedDict({'number of solutions': 0, 'number of solutions displayed': 0})]}

In [161]:
from collections import defaultdict
d = defaultdict(lambda: defaultdict(str))
for g in m.GRADES:
    for t in m.TIMESLOTS:
        for r in m.ROOMS:
            if value(m.Assign[g, t, r]):
                d[r][t] = g

In [162]:
pd.DataFrame(d).fillna('N/A').sort_index()

   101  102
8   1A   2A
9   1A  N/A
10  1A   1B
11  1A   1B
12  2A   1B
13  1B   2A
14  2A   1B
15  1A   2A

### Version 4 - with the constraint of len(TIMESLOTS) * len(ROOMS) / len(GRADES)

In [163]:
m = AbstractModel()

m.GRADES = Set()
m.TIMESLOTS = Set()
m.ROOMS = Set()

m.pop = Param(m.GRADES)
m.cap = Param(m.ROOMS)

m.Assign = Var(m.GRADES, m.TIMESLOTS, m.ROOMS, domain = Binary)

def one_grade_in_one_timeslot_and_one_room(model, t, r):
    return quicksum(model.Assign[g, t, r] for g in model.GRADES) <= 1

def one_room_with_one_grade(model, g, t):
    return quicksum(model.Assign[g, t, r] for r in model.ROOMS) <= 1

def capacity_of_room(model, g, t, r):
    return model.Assign[g, t, r] * model.pop[g] <= model.cap[r]

m.One_Timeslot_per_grade = Constraint(m.TIMESLOTS, m.ROOMS, rule = one_grade_in_one_timeslot_and_one_room)
m.One_Room_with_one_grade = Constraint(m.GRADES, m.TIMESLOTS, rule = one_room_with_one_grade)
m.capacity_of_room = Constraint(m.GRADES, m.TIMESLOTS, m.ROOMS, rule = capacity_of_room)

m.assign_sum = Objective(rule = lambda model: sum_product(model.Assign), sense = maximize)

# This does not work because, len(TIMESLOTS) * len(ROOMS) / len(GRADES) = 5.33
# This means that grade 1A could have a total time of 5, and grade 1B could have a total time of 0.
# 5.33 is the MAXIMUM amount of face-to-face time ONE grade can have, if all timeslots across all rooms were divided equally,
# but it doesn't assert that two grades should have the same face-to-face time.
def wrong_equality(model, g):
    return quicksum(model.Assign[g, t, r] for t in model.TIMESLOTS for r in model.ROOMS) <= len(model.TIMESLOTS) * len(model.ROOMS) / len(model.GRADES)


m.equality_rule = Constraint(m.GRADES, rule = equality)

In [164]:
instanceData = { None: {
    'GRADES': {None: ['1A', '1B', '2A']},
    'TIMESLOTS': {None: range(8, 16)},
    'ROOMS': {None: ['101', '102']},
    'pop': {'1A': 31, '1B': 36, '2A': 39},
    'cap': {'101': 35, '102': 50}
}}

In [165]:
instance = m.create_instance(instanceData)

In [167]:
opt.solve(instance)

{'Problem': [{'Name': 'unknown', 'Lower bound': 13.0, 'Upper bound': 13.0, 'Number of objectives': 1, 'Number of constraints': 91, 'Number of variables': 48, 'Number of nonzeros': 192, 'Sense': 'maximize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': '1', 'Number of created subproblems': '1'}}, 'Error rc': 0, 'Time': 0.004607677459716797}], 'Solution': [OrderedDict({'number of solutions': 0, 'number of solutions displayed': 0})]}

In [168]:
from collections import defaultdict
d = defaultdict(lambda: defaultdict(str))
for g in instance.GRADES:
    for t in instance.TIMESLOTS:
        for r in instance.ROOMS:
            if value(instance.Assign[g, t, r]):
                d[r][t] = g

In [169]:
pd.DataFrame(d).fillna('N/A').sort_index()

    101 102
8    1A  1B
9    1A  1B
10   1A  1B
11   1A  1B
12   1A  1B
13  N/A  2A
14  N/A  2A
15  N/A  2A

- In the above example, grade 1A and 1B got 5 timeslots, but grade 2A got 3
- Both of them satisfied the constraint $ \sum_{r} \sum_{t} {assign_{g,t,r}} <= 5.33 $
- $ | TIMESLOTS | * | ROOMS | $ denotes the total available face-to-face time
- $ | TIMESLOTS | * | ROOMS | / | GRADES| $ denotes the MAXIMUM total available face-to-face time for each grade, but it doesn't necessarily imply that the values of assign will reach that ceiling. The solution of (5, 0, 0) is also feasible, as per the above constraint.
- For the same reasons, $ | TIMESLOTS | / | GRADES | $ in version 2 of the problem is a wrong constraint. It works in this case, since the classes are homogenous and 1A is not differentiable from 1B or 2A.

### Correcting the equality

In [170]:
def correct_equality(model, g, g_prime):
    if g == g_prime:
        return Constraint.Skip
    return quicksum(model.Assign[g, t, r] for t in model.TIMESLOTS for r in model.ROOMS) == quicksum(model.Assign[g_prime, t, r] for t in model.TIMESLOTS for r in model.ROOMS)

m.equality_rule = Constraint(m.GRADES, m.GRADES, rule = correct_equality)

WARNING: Implicitly replacing the Component attribute equality_rule
(type=<class 'pyomo.core.base.constraint.IndexedConstraint'>) on block unknown
with a new Component (type=<class
'pyomo.core.base.constraint.IndexedConstraint'>). This is usually indicative
of a modelling error. To avoid this warning, use block.del_component() and
block.add_component().

In [171]:
instance = m.create_instance(instanceData)

In [172]:
opt.solve(instance)

{'Problem': [{'Name': 'unknown', 'Lower bound': 12.0, 'Upper bound': 12.0, 'Number of objectives': 1, 'Number of constraints': 94, 'Number of variables': 48, 'Number of nonzeros': 336, 'Sense': 'maximize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': '1', 'Number of created subproblems': '1'}}, 'Error rc': 0, 'Time': 0.006355762481689453}], 'Solution': [OrderedDict({'number of solutions': 0, 'number of solutions displayed': 0})]}

In [173]:
from collections import defaultdict
d = defaultdict(lambda: defaultdict(str))
for g in instance.GRADES:
    for t in instance.TIMESLOTS:
        for r in instance.ROOMS:
            if value(instance.Assign[g, t, r]):
                d[r][t] = g

In [174]:
pd.DataFrame(d).fillna('N/A').sort_index()

    101 102
8    1A  1B
9    1A  2A
10   1A  1B
11   1A  2A
12  N/A  1B
13  N/A  2A
14  N/A  1B
15  N/A  2A

### Version 5

In [175]:
input_rooms = pd.read_csv("SRO_input_rooms.csv")
input_grades = pd.read_csv("SRO_input_grades.csv")

In [176]:
instanceData = {None:{
    'GRADES': {None: input_grades['Grade_ID'].unique()},
    'TIMESLOTS': {None: range(8, 16)},
    'ROOMS': {None: input_rooms['Room_ID'].unique()},
    'pop': input_grades.set_index('Grade_ID').to_dict()['Population'],
    'cap': input_rooms.set_index('Room_ID').to_dict()['Capacity']
}}

In [177]:
instance = m.create_instance(instanceData)

In [178]:
opt.solve(instance)

{'Problem': [{'Name': 'unknown', 'Lower bound': 48.0, 'Upper bound': 48.0, 'Number of objectives': 1, 'Number of constraints': 2100, 'Number of variables': 1728, 'Number of nonzeros': 43200, 'Sense': 'maximize'}], 'Solver': [{'Status': 'ok', 'Termination condition': 'optimal', 'Statistics': {'Branch and bound': {'Number of bounded subproblems': '1', 'Number of created subproblems': '1'}}, 'Error rc': 0, 'Time': 0.05269336700439453}], 'Solution': [OrderedDict({'number of solutions': 0, 'number of solutions displayed': 0})]}

In [179]:
from collections import defaultdict
d = defaultdict(lambda: defaultdict(str))
for g in instance.GRADES:
    for t in instance.TIMESLOTS:
        for r in instance.ROOMS:
            if value(instance.Assign[g, t, r]):
                d[r][t] = g

In [180]:
pd.DataFrame(d).fillna('N/A').sort_index()

,A121,A137,A123,A138,A120,C155,T2,T3,T1
8,PreKA,N/A,PreKB,FirstA,PreKC,KindergartenA,ThirdB,ThirdA,SecondA
9,FirstA,PreKA,PreKB,N/A,PreKC,ThirdB,FirstB,FifthA,FourthA
10,FirstA,N/A,PreKA,PreKB,PreKC,FirstB,SecondA,KindergartenB,FourthA
11,PreKB,PreKA,FirstA,N/A,PreKC,KindergartenB,KindergartenA,FifthA,ThirdA
12,N/A,N/A,N/A,N/A,N/A,ThirdA,ThirdB,SecondA,FirstB
13,N/A,N/A,N/A,N/A,N/A,KindergartenA,KindergartenB,FifthA,FourthA
14,N/A,N/A,N/A,N/A,N/A,KindergartenA,KindergartenB,SecondA,FourthA
15,N/A,N/A,N/A,N/A,N/A,ThirdA,ThirdB,FifthA,FirstB

In [181]:
face_to_face_time_third_B = 0
for t in instance.TIMESLOTS:
    for r in instance.ROOMS:
        face_to_face_time_third_B += value(instance.Assign['ThirdB', t, r])

In [182]:
max_hours = face_to_face_time_third_B * input_grades['Population'].sum()

In [183]:
max_hours

np.float64(952.0)